
<div class="container-fluid">
  <h3 class="primary-heading">{{ pageHeading }}</h3>
  <form
    class="form-horizontal"
    [formGroup]="updateTaskForm"
    (ngSubmit)="onUpdateTask(updateTaskForm)"
  >
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Task Description&nbsp;<span style="color: red">*</span></label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        [class.is-invalid]="description?.invalid && description?.touched"
        formControlName="description"
        rows="3"
        placeholder="Description..."
        required
      ></textarea>
      <div *ngIf="description?.invalid && description?.touched">
        <small *ngIf="description?.errors?.['required']" class="text-danger"
          >Task Description is required</small
        >
        <small *ngIf="description?.errors?.['minlength']" class="text-danger"
          >Description must has atleast 10 characters</small
        >
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label"
        >Task Status&nbsp;<span style="color: red">*</span></label
      >
      <select
        class="form-select"
        [class.is-invalid]="completed?.invalid && completed?.touched"
        formControlName="completed"
        aria-label="Default select example"
        required
      >
        <option value="true">Completed</option>
        <option value="false">Pending</option>
      </select>
      <div *ngIf="completed?.invalid && completed?.touched">
        <small *ngIf="completed?.errors?.['required']" class="text-danger"
          >Status is Required</small
        >
      </div>
    </div>
    <button
      [disabled]="updateTaskForm.invalid"
      class="btn btn-success"
      type="submit"
    >
      Add Task
    </button>
  </form>
</div>

