.container-fluid {
  display: flex;
  margin-top: 200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .primary-heading {
    margin-top: 20px;
  }

  .form-horizontal {
    width: 30%;

    .form-group {
      margin: 20px;
    }

    label {
      margin-bottom: 5px;
    }

    .btn-primary {
      margin-left: 20px;
    }

    .btn-secondary {
      margin-left: 20px;
    }

    .btn-dark {
      margin-left: 20px;
    }
  }

  .display-none {
    display: none;
  }

  .message-block {
    display: flex;

    margin-top: 20px;

    .message-text {
      color: green;
    }
  }
}
