#page-content {
  flex: 1 0 auto;
}
.user-row {
  margin-bottom: 14px;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(134, 118, 118);
}


.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.table-user-information > tbody > tr > td {
  border-top: 0;
}

.panel {
  color: rgb(0, 0, 0);
  border-radius: 0.3rem;
  padding: 2%;
  border: 1px solid #d6d6d6;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 5%;
  width: 75%;
}
.add-new-task {
  text-align: left;
}

.completed > td{
  background-color: rgb(67, 255, 67);
  color: white;
  }