<div class="form-holder">
  <div class="form-content">
    <div class="form-items">
      <h3>User Registeration</h3>

      <form
        class="form-basic"
        [formGroup]="RegisterForm"
        (ngSubmit)="Registeronsubmit()"
      >
        <p>
          <label for="name">Name <br /><br /></label><br />
          <input type="text" id="name" name="name" formControlName="name" />
        </p>
        <p>
          <label for="age">Age <br /><br /></label><br />
          <input type="number" id="age" name="age" formControlName="age" />
        </p>
        <p>
          <label for="email">Email <br /><br /></label><br />
          <input type="text" id="email" name="email" formControlName="email" />
        </p>
        <p>
          <label for="password">Password <br /><br /></label><br />
          <input
            type="password"
            id="password"
            name="password"
            formControlName="password"
          />
        </p>
        <p>
          <label for="confirmpassword">Confirm Password <br /><br /></label
          ><br />
          <input
            type="password"
            id="confirmpassword"
            name="confirmpassword"
            formControlName="confirmpassword"
          />
        </p>
        <div *ngIf="(RegisterForm?.errors?.['misMatch'])"></div>
        <p>
          <button
            [disabled]="!RegisterForm.valid"
            class="btn btn-primary"
            type="submit"
            (ngSubmit)="Registeronsubmit()"
          >
            Submit
          </button>
        </p>
        <p>
          Already a user?
          <a routerLink="/login">Login here</a>
        </p>
      </form>
    </div>
  </div>
</div>
